.conteiner { 
    position: relative;
}

.search {
    width: 583px;
    height: 52px;
    margin: 0;
    padding-left: 32px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    float: left;
    position: absolute;
    border-width: 0px;
    outline: none;
    transition: border 200ms;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;

    &:hover {
        border: 1px solid blue;
    }
}

.img {
    left: 4px !important;
    top: 14px !important;
    position: absolute !important;
}

@media screen and (max-width: 800px){
    .search {
        width: 90%;
        padding-left: 32px;
        padding-right: 20px;
        height: 60px;
    }

    .img {
        visibility: hidden;
    }
}