.conteiner { 
    position: relative;
}

.search {
    width: 583px;
    height: 52px;
    margin: 0;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    float: left;
    position: absolute;
    border-width: 0px;
    outline: none;
    transition: border 200ms;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    &:hover {
        border: 1px solid blue;
    }
}

.img {
    left: 4px !important;
    top: 14px !important;
    position: absolute !important;
}