.container {
    width: 192px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: blue;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}