.container {
    width: 583px;
    height: 146px;

    background: #0047FF;
    border-radius: 10px;
    margin-top: 21px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #0047FF;
    transition: border 200ms;

    &:hover {
        border: 1px solid blue;
    }
}

.content {
    margin-top: 18px;
    margin-left: 24px;
    margin-bottom: 24px;

    h3 {
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 4px;
    }

    p {
        font-weight: normal;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 21px;
    }

    .statusButton {
        position: absolute;
        bottom: 24px;
        width: 104px;
        height: 32px;
        background: #ffffff;
        border-radius: 5px;
        border: 0px;
        font-weight: 500;
        font-size: 14px;
        transition: background 200ms;

        &:hover {
            background: #ffffffc9;
        }
    }
}

.optionsButton {
    position: absolute;
    top: 24px;
    right: 24px;

    &:hover {
        color: #ffffffc9;
    }
}